# 默认忽略的文件
/shelf/
/workspace.xml

# 基于编辑器的 HTTP 客户端请求
/httpRequests/

# 数据源本地存储忽略的文件
/dataSources/
/dataSources.local.xml

# 忽略特定扩展名的文件
*.log
*.docx
# 忽略以 temp 开头的文件
temp*
/第一次模拟训练A题/Python处理代码/__pycache__
*.pyc
